# file name (targets.yml) should be same as group(targets) in the hosts.ini
# folder name should be group_vars only
app_path: /opt/app.py
flask_bind_host: 0.0.0.0

db_name: employee_db
db_user: db_user
db_password: Passw0rd