- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install MySQL server and client
  apt:
    name:
      - mysql-server
      - mysql-client
    state: present

- name: Ensure MySQL service is started and enabled
  service:
    name: mysql
    state: started
    enabled: yes

- name: Install Python MySQL driver via APT (PyMySQL)
  apt:
    name: python3-pymysql
    state: present

- name: Create application database
  community.mysql.mysql_db:
    name: "{{ db_name }}"
    state: present
    login_unix_socket: /var/run/mysqld/mysqld.sock

- name: Create Database User
  community.mysql.mysql_user:
    name: "{{ db_user }}"
    password: "{{ db_password }}"
    priv: "*.*:ALL"
    state: present
    host: "%"
    login_unix_socket: /var/run/mysqld/mysqld.sock